<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCBase:war">
    <output-path>$PROJECT_DIR$/SpringMVCBase/target</output-path>
    <root id="archive" name="SpringMVCBase.war">
      <element id="artifact" artifact-name="SpringMVCBase:war exploded" />
    </root>
  </artifact>
</component>